<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert into db</title>
</head>
<body>
<form action="" method="post">
    <p>
        <label for="username">имя пользователя </label>
        <input type="text" name="username">
    </p>
     <p>
        <label for="name">Имя </label>
        <input type="text" name="name">
    </p>
     <p>
        <label for="surname">Фамилия </label>
        <input type="text" name="surname">
    </p>
     <p>
        <label for="age">Возраст </label>
        <input type="text" name="age">
    </p>
    <p>
        <input type="submit">
    </p>
</form>>
</body>
</html>